{% extends "base.html" %}
{% block title %}Doppeldanger{% endblock %}

{% block body %}


<style>
    p, a {
        font-family: "Courier New";
        color:black;
    }
    card {
        overflow: hidden;
    }

    .bad {
        padding-top:2rem;
    }
</style>
<div>
    <div class="container bad">

        <div class="row mb-3">

            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="{{ image_path }}" width="100%" height="100%">
                    <div class="card-body">
                        <p class="card-text">You look great today :)</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-8">
                <div class="row">
                    {% for person in names %}
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img src="/root/openface/wrapper/app/static/resources/photos/{{ person[1] }}" height="250" style="object-fit:cover;object-position:top">
                            <div class="card-body card">
                                <p class="card-text">{{ person[0] }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>


            </div>
        </div>
    </div>
</div>

    {% endblock %}
